#main-wrapper
  #main-navbar.navbar.navbar-inverse{:role => "navigation"}
    .navbar-inner
      .navbar-header
        %a.navbar-brand{:href => "/"}
        %div
          %img{:alt => "Point Gaming", :src => "/assets/logo.png"}
        %button.navbar-toggle.collapsed{"data-target" => "#main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %i.navbar-icon.fa.fa-bars
      #main-navbar-collapse.collapse.navbar-collapse.main-navbar-collapse
        %div
          %ul.nav.navbar-nav
            %li
              %a{:href => dashboard_path} Dashboard
            %li
              %a{:href => streams_path} Streams
          .right.clearfix
            %ul.nav.navbar-nav.pull-right.right-navbar-nav
              %li.nav-icon-btn.nav-icon-btn-danger.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#notifications"}
                  %span.label 5
                  %i.nav-icon.fa.fa-bullhorn
                  %span.small-screen-text Notifications
                .dropdown-menu.widget-notifications.no-padding{:style => "width: 300px"}
                  #main-navbar-notifications.notifications-list
                    .notification
                      .notification-title.text-danger SYSTEM
                      .notification-description
                        %strong> Error 500
                        \: Syntax error in index.php at line
                        = succeed "." do
                          %strong 461
                      .notification-ago 12h ago
                      .notification-icon.fa.fa-hdd-o.bg-danger
                    .notification
                      .notification-title.text-info STORE
                      .notification-description
                        You have
                        %strong 9
                        new orders.
                      .notification-ago 12h ago
                      .notification-icon.fa.fa-truck.bg-info
                    / / .notification
                    .notification
                      .notification-title.text-default CRON DAEMON
                      .notification-description
                        Job
                        %strong "Clean DB"
                        has been completed.
                      .notification-ago 12h ago
                      .notification-icon.fa.fa-clock-o.bg-default
                    / / .notification
                    .notification
                      .notification-title.text-success SYSTEM
                      .notification-description
                        Server
                        = succeed "." do
                          %strong up
                      .notification-ago 12h ago
                      .notification-icon.fa.fa-hdd-o.bg-success
                    / / .notification
                    .notification
                      .notification-title.text-warning SYSTEM
                      .notification-description
                        %strong> Warning
                        \: Processor load
                        = succeed "." do
                          %strong 92%
                      .notification-ago 12h ago
                      .notification-icon.fa.fa-hdd-o.bg-warning
                    / / .notification
                  / / .notifications-list
                  %a.notifications-link{:href => "#"} MORE NOTIFICATIONS
                / / .dropdown-menu
              %li.nav-icon-btn.nav-icon-btn-success.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#messages"}
                  %span.label 10
                  %i.nav-icon.fa.fa-envelope
                  %span.small-screen-text Income messages
                / MESSAGES
                / Javascript
                :javascript
                  init.push(function () {
                    $('#main-navbar-messages').slimScroll({ height: 250 });
                  });
                / / Javascript
                .dropdown-menu.widget-messages-alt.no-padding{:style => "width: 300px;"}
                  #main-navbar-messages.messages-list
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .message-description
                        from
                        %a{:href => "#"} Robert Jang
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      .message-description
                        from
                        %a{:href => "#"} Michelle Bortz
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                      .message-description
                        from
                        %a{:href => "#"} Timothy Owens
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      .message-description
                        from
                        %a{:href => "#"} Denise Steiner
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                      .message-description
                        from
                        %a{:href => "#"} Robert Jang
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .message-description
                        from
                        %a{:href => "#"} Robert Jang
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      .message-description
                        from
                        %a{:href => "#"} Michelle Bortz
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                      .message-description
                        from
                        %a{:href => "#"} Timothy Owens
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      .message-description
                        from
                        %a{:href => "#"} Denise Steiner
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                    .message
                      %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                      %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                      .message-description
                        from
                        %a{:href => "#"} Robert Jang
                        \&nbsp;&nbsp;·&nbsp;&nbsp;
                        2h ago
                    / / .message
                  / / .messages-list
                  %a.messages-link{:href => "#"} MORE MESSAGES
                / / .dropdown-menu
              / /3. $END_NAVBAR_ICON_BUTTONS
              %li
                %form.navbar-form.pull-left
                  %input.form-control{:placeholder => "Search", :type => "text"}/
              %li.dropdown
                %a.dropdown-toggle.user-menu{"data-toggle" => "dropdown", :href => "#"}
                  %img{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
                  %span John Doe
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"}
                      %span.label.label-warning.pull-right> New
                      Profile
                  %li
                    %a{:href => "#"}
                      %span.badge.badge-primary.pull-right> New
                      Account
                  %li
                    %a{:href => "#"}
                      %i.dropdown-icon.fa.fa-cog>
                      \&nbsp;&nbsp;Settings
                  %li.divider
                  %li
                    %a{:href => "pages-signin.html"}
                      %i.dropdown-icon.fa.fa-power-off>
                      \&nbsp;&nbsp;Log Out
  #content-wrapper
