.page-header
  %h1
    %i.fa.fa-video-camera
    \&nbsp;&nbsp;Streams

  .pull-right
    %button.btn.btn-flat.btn-labeled.btn-primary{data: { toggle: "modal", target: "#new-stream-modal" }}
      %span.btn-label.icon.fa.fa-plus
      New Stream

.row
  - @streams.each do |stream|
    = render stream

= render partial: "new"
