.col-md-6
  .row
    %object{data: "http://www.twitch.tv/widgets/live_embed_player.swf?channel=#{@stream.channel_name}", height: "360", type: "application/x-shockwave-flash", width: "590"}
      %param{name: "allowFullScreen", value: "true"}
      %param{name: "allowScriptAccess", value: "always"}
      %param{name: "allowNetworking", value: "all"}
      %param{name: "movie", value: "http://www.twitch.tv/widgets/live_embed_player.swf"}
      %param{name: "flashvars", value: "hostname=www.twitch.tv&amp;channel=#{@stream.channel_name}&amp;auto_play=true&amp;start_volume=25"}

  .row
    = markdown @stream.description

.col-md-6
  .row
    Chat
